// Media Breakpoints
$small: 960px;
$medium: 1200px;

// Colors
$primary-background: #3D6AF2;

// Text Colors
$primary-text: #261D01;
$active-text: #FFF;

// Text Sizing
$heading-size: 2.6rem;
$subheading-size: 1.9rem;
$paragraph-size: 1.2rem;

// Spacing

// Shadows
$material-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

/* Color Theme Swatches in Hex */
$Graphic-Design-1-hex: #1F3A8C;
$Graphic-Design-2-hex: #142559;
$Graphic-Design-3-hex: #3D6AF2;
$Graphic-Design-4-hex: #3D64D9;