@import './variables';

body {
	box-sizing: border-box;
	margin: 0;
}

#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	text-align: center;
	color: $primary-text;

	h1 {
		font-size: $heading-size;
	}

	h2 {
		font-size: $subheading-size;
	}

	p {
		font-size: $paragraph-size;
	}
}

.page {
	position: relative;
	max-width: 1200px;
	left: 50%;
	transform: translateX(-50%);
}

.page-title {
	text-align: left;
}