@import './variables';

body {
	width: 100vw;
	box-sizing: border-box;
	margin: 0;
}

#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	text-align: center;
	color: $primary-text;

	h1 {
		font-size: $heading-size;
	}

	h2 {
		font-size: $subheading-size;
	}

	p,
	option,
	label,
	select {
		font-size: $paragraph-size;
	}

	select {
		appearance: none;
		background-color: transparent;
		margin: 0;
		width: 50%;
		outline: none;

		border: 1px solid $primary-background;
		border-radius: 0.25em;
		padding: 0.25em 0.5em;
		cursor: pointer;
		line-height: 1.1;
		background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
	}
}

.page {
	position: relative;
	max-width: 1200px;
	left: 50%;
	transform: translateX(-50%);
}

.page-title {
	text-align: left;
}

.main {
	padding: 25px;
}